
<h1> New Task </h1>
<div class="mb-3">
<%= form_for(@task, :html => {:class => "form-label"}) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
  <% end %>
</div>
